<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title '' %} | 77 Silex Starter</title>

    <!-- Bootstrap -->
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->  
    <script src="{{ app.request.basepath }}/js/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ app.request.basepath }}/js/ie10-viewport-bug-workaround.js"></script>

  </head>
  <body>

      <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ app.request.basepath }}">77 Silex Starter</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ app.request.basepath }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

          {% block content %}{% endblock %}

    </div> <!-- /container -->

  </body>
</html>




